# Python Basics

## 1. Data Types

In [1]:
values = [10, 3.5, True, "Hello", "123",-7]
for v in values:
    print(v, "->", type(v))

10 -> <class 'int'>
3.5 -> <class 'float'>
True -> <class 'bool'>
Hello -> <class 'str'>
123 -> <class 'str'>
-7 -> <class 'int'>

In [ ]:
# Converting input string to numbers
s1 = "12"
s2 = "3.5"
print(int(s1) + 8)
print(float(s2) + 1.5)
print(s1+s2)
print(s1 + str(8))

20
5.0
123.5
128

In [9]:
# Comparisons produce booleans
x = 10
y = 15
print(x > y) 
print(x == 10)
print(y != 0)
print(x == "10")
print(str(x) == "10")

False
True
True
False
True

In [11]:
# If- else
n = 17
if n % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [12]:
marks = 83
if marks >= 90:
    grade = "A"
elif marks >= 80:
    grade = "B"
elif marks >= 70:
    grade = "C"
else:
    grade = "D"
print("grade:", grade)

grade: B

In [13]:
age = 16
status = "Eligible" if age >= 18 else "Not Eligible"
print(status)

Not Eligible

In [14]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [15]:
N = 10
s = 0
for i in range(1, N + 1):
    s += i
print("sum:", s)

sum: 55

In [16]:
text = "Machine Learning"
vowels = "aeiouAEIOU"
count = 0
for ch in text:
    if ch in vowels:
        count += 1
print("vowels:", count)

vowels: 6

In [18]:
s = "Python"
print("string:", s)
print("first:", s[0])
print("last:", s[-1])
print("length:", len(s))

string: Python
first: P
last: n
length: 6

In [19]:
s = "MachineLearning"
print(s[0:7]) 
print(s[7:])
print(s[:7]) 
print(s[-8:])

Machine
Learning
Machine
Learning

In [20]:
sentence = "Python is easy to learn"
words = sentence.split()
print("words:", words)
print("word_count:", len(words))

words: ['Python', 'is', 'easy', 'to', 'learn']
word_count: 5

In [25]:
s = "Banana"
print("lower:", s.lower())
print("replace a->$:", s.replace("a", "$") )
print("replace a->$:", s.lower().replace("a", "3$") )

lower: banana
replace a->$: B$n$n$
replace a->$: b3$n3$n3$

In [28]:
# Lists
nums = [10, 20, 30, 40, 50]
print("list:", nums)
print("first:", nums[0])
print("last:", nums[-1])
print("middle slice:", nums[1:4])
print("length:", len(nums))
print("reverse",nums[: :-1])

list: [10, 20, 30, 40, 50]
first: 10
last: 50
middle slice: [20, 30, 40]
length: 5
reverse [50, 40, 30, 20, 10]

In [29]:
squares = []
for i in range(1, 6):
    squares.append(i * i)
print("squares:", squares)

squares: [1, 4, 9, 16, 25]

In [30]:
nums = [5, 1, 9, 2]
print("sum:", sum(nums))
print("max:", max(nums))
print("min:", min(nums))

sum: 17
max: 9
min: 1

In [33]:
nums = [1, 2, 3, 4, 5, 6]
evens = []
for x in nums:
    if x % 2 == 0:
        evens.append(x)
print("evens:", evens)

evens: [2, 4, 6]

In [34]:
a = [1, 2]
a.append([3, 4])
print("after append:", a) 
b = [1, 2]
b.extend([3, 4])
print("after extend:", b)

after append: [1, 2, [3, 4]]
after extend: [1, 2, 3, 4]

In [35]:
nums = [10, 20, 40, 50]
nums.insert(2, 30) 
print("after insert:", nums)
nums.remove(20) 
print("after remove:", nums)

after insert: [10, 20, 30, 40, 50]
after remove: [10, 30, 40, 50]

In [36]:
nums = [10, 20, 30, 40]
last = nums.pop()
print("popped last:", last)
print("list now:", nums)
second = nums.pop(1)
print("popped index 1:", second)
print("list now:", nums)

popped last: 40
list now: [10, 20, 30]
popped index 1: 20
list now: [10, 30]

In [37]:
nums = [5, 1, 9, 2, 9]
nums.sort()
print("sorted:", nums)
nums.reverse()
print("reversed:", nums)

sorted: [1, 2, 5, 9, 9]
reversed: [9, 9, 5, 2, 1]

In [39]:
nums = [2, 5, 2, 7, 2]
print(f"Count: {nums.count(2)}")
print("first index of 7:", nums.index(7))

Count: 3
first index of 7: 3

In [43]:
year = 2025
if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2025 is not a leap year

In [44]:
n = 7
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [45]:
n = 6
fact = 1
for i in range(2, n + 1):
    fact *= i
print("n:", n)
print("factorial:", fact)

n: 6
factorial: 720

In [51]:
# Fibonacci
n=10
a=0
b=1
if n > 0:
    for i in range(n):
        print(f"{a}", end=" ")
        sum =a+b
        a=b
        b=sum

0 1 1 2 3 5 8 13 21 34

In [56]:
# Prime Check
n = 29
if n < 2:
    is_prime = False
else:
    is_prime = True
    for d in range(2, n):
        if n % d == 0:
            is_prime = False
            break
if(is_prime):
    print(n ," is a prime number")
else:
    print("Not Prime")

29  is a prime number

In [ ]:
# Sum of Digits
n = 1205
s = str(n)
total = 0
for ch in s:
    total += int(ch)
print("n:", n)
print("sum_of_digits:", total)

n: 1205
sum_of_digits: 8

In [ ]:
# Reverse a string
text = "Machine"
rev = ""
text[: :-1]
for i in range(len(text)-1,-1,-1):
    rev += text[i]
print("text:", text)
print("reversed:", rev)

'enihcaM'

In [62]:
# Palindrome Check
text="level"
palindrome= text[: :-1]
if (text == palindrome):
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome